<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
     
      <mat-list-item (click)="toMed()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" matListIcon>shopping_cart</mat-icon> <a matLine> Produtos</a>
      </mat-list-item>

      <mat-list-item (click)="toProfile()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" matListIcon>account_circle</mat-icon> <a  matLine> Dados</a>
      </mat-list-item>

      <mat-list-item (click)="toLogin()" >
        <mat-icon    aria-hidden="false" aria-label="Example home icon" matListIcon>exit_to_app</mat-icon> <a matLine> Sair</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Etimtech</span>
    
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>