<app-menus>
    
<mat-grid-list cols="1" rowHeight="100vh">
    <mat-grid-tile fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-card>
            <mat-card-title>
                <mat-icon>supervised_user_circle</mat-icon>
            </mat-card-title>
            <mat-card-subtitle>Faça já seu login</mat-card-subtitle>
            <mat-card-content>
                <div class="login-container">
                    <form [formGroup]="loginForm" (ngSubmit)="Logar()">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input type="password" matInput placeholder="Senha" formControlName="password">
                        </mat-form-field>
                        <button class="botao" type="submit" (click)="logar()" mat-button color="primary">Entrar</button>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</app-menus>