/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    background-color: #d7dcf5;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-color {
    background-color: #1261A0 !important;
}